/* global box-sizing */
h1 {
  padding: 0;
  margin: 0;
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
}
body {
  font: 300 11px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #e5007c;
  overflow-x: hidden;
}

/* clear */
.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  color: #e5007c;
}
a:hover {
  color: #444;
}
a:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: 0;
}
input:focus {
  outline: 0;
  border: 1px solid #04a4cc;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}
/* header */
.header {
  margin-left: 4rem;
  margin-top: 3rem;
  font-family: "Vinkel-Light";
  color: #fff;
  margin-bottom: 7rem;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
header > span:first-child {
  margin-right: 1rem;
}
span.caps {
  text-transform: uppercase;
  font-family: "Vinkel-Regular";
  font-weight: 700;
}
.teatteri_container {
  width: 25px;
  height: 20px;
  background-color: white;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.block-1 {
  width: 15px;

  height: 15px;

  background-color: white;

  position: relative;

  top: -7px;

  transform: rotate(45deg);
}
.block-2 {
  width: 2px;

  height: 13px;

  background-color: white;

  position: absolute;

  top: -13px;
}
.block-3 {
  width: 30px;

  height: 3px;

  background-color: white;

  position: absolute;

  bottom: 0;
}
.background-image {
  position: absolute;
  background-image: url("img/tytto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%) blur(10px);
  height: 800px;
  width: 100%;
  transform: scale(1.1);
  top: -180px;
}
.gradient {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(229, 0, 124, 1) 60%
  );
  height: 300px;
  width: 100%;
  position: absolute;
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 1px;
}
/* logo */
.logo {
}
.logo-img {
}
/* nav */
.nav {
}
/* sidebar */
.sidebar {
}
/* footer */
.footer {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/
.CTA_button {
  border: 2px solid #e5007c;
  border-radius: 24px;
  border-radius: 24px;
  background-color: #fff;
  padding: 6px 16px;
  color: #e5007c;
  font-family: "Vinkel-Bold";
  font-size: 16px;
  color: #e5007c;
  letter-spacing: 2px;
}
.CTA_button:hover {
  background-color: #e5007c;
  color: #fff;
}
main {
}
.block {
  background-color: #fff;
  align-items: center;
  margin: 4rem;
}
.first_block {
  display: flex;
  flex-direction: row;

  padding-bottom: 5rem;
}
.first_block > div {
  width: 50%;
  height: 100%;
}
.first_block > div:first-child {
  padding-left: 85px;
  padding-top: 15px;
  margin: 50px 0;
}
.first_block > div:first-child > p {
  max-width: 400px;
}
.first_block__paragraph {
  font-family: "Vinkel-Light";
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 35.08px;
}

.block div > h1,
h2 {
  color: #e5007c;
  font-family: "Vinkel-Bold";
}

.block div > h1 {
  font-size: 5rem;
}

.block div > h2 {
  font-size: 3rem;
  margin-bottom: 6px;
}
.block.second_block div > p {
  font-family: "Vinkel-Regular";
  font-size: 14px;
  color: #000000;
  text-align: center;
  margin-top: 0;
}
.block.second_block {
  display: flex;
  justify-content: center;
}
.block.third_block {
  display: flex;
  padding: 48px 110px;
}
.block.third_block > div {
  flex: 1;
}
.block.third_block > div:last-child {
  display: flex;
  flex-direction: column;
}
.block.third_block > div:first-child {
  display: flex;
  flex-direction: column;
}
.block.third_block > div:first-child > div {
  min-width: 400px;
}
.block.third_block > div:first-child > p {
  font-family: Vinkel-Regular;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 25.06px;
  max-width: 400px;
}
.block.third_block > div:last-child > form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.block.third_block > div:last-child > form > input,
.block.third_block > div:last-child > form > #file-label {
  padding: 1rem 2rem;
  font-size: 14px;
  border: 3px solid #d0d0d0;
  border-radius: 24px;
  border-radius: 24px;
  margin-bottom: 18px;
}
input[type="file"] {
  display: none;
}
.block.third_block > div:last-child > form > label {
  margin-bottom: 8px;
  font-family: "Vinkel-Regular";
  color: #000000;
  letter-spacing: 0;
}
.block.third_block > div:last-child > form > #file-label {
  text-align: center;
  background-color: #d0d0d0;
  font-family: "Vinkel-Bold";
  font-size: 14px;
  color: #555555;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.block.third_block > div:last-child > form > input:focus {
  border: 3px solid #e5007c;
}
.block.third_block > div:last-child > form > div > label {
  font-family: "Vinkel-Regular";
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}
.block.third_block > div:last-child > form > div > input[type="checkbox"] {
  margin-right: 8px;
  margin-bottom: 28px;
}
.block.third_block > div:last-child > form > button {
  max-width: 150px;
  color: white;
  background-color: #e5007c;
}
.block.third_block > div:last-child > form > button:hover {
  max-width: 150px;
  color: #e5007c;
  background-color: white;
}

.fourth_block {
  padding: 48px 110px;
  display: flex;
  align-items: flex-start;
}
.fourth_block > div > h3 {
  font-family: "Vinkel-Bold";
  font-size: 26px;
  color: #000000;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 22px;
}
.fourth_block > div:first-child {
  flex: 1;
}
.fourth_block > div:last-child {
  flex: 2;
}
.fourth_block > div:last-child > p {
  max-width: 400px;
  font-family: "Vinkel-Regular";
  font-size: 12px;
  color: #000000;
  letter-spacing: 0;
}
.fourth_block > div:first-child > p {
  font-family: "Vinkel-Regular";
  font-size: 12px;
  margin-top: 6px;
  color: #000000;
  letter-spacing: 0;
}

/*------------------------------------*\
    IMAGES
\*------------------------------------*/

.first_section_image {
  width: 600px;
  height: 600px;
  position: relative;
  right: -5rem;
  top: -5rem;
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
  font-family: "Vinkel-Bold";
  src: url("fonts/Vinkel-bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vinkel-Light";
  src: url("fonts/Vinkel-light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vinkel-Regular";
  src: url("fonts/Vinkel-regular.otf");
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1140px) {
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.sticky {
}
.bypostauthor {
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
